<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510834595865-6htq72r8v20pjk5d9vg21po0d7ccbekn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510834595865-6htq72r8v20pjk5d9vg21po0d7ccbekn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510834595865-e5ujnia6hn958ta0t91p3pfnea6knvcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5k-S1oOHYznyAvZJkHDJrZFeD3zHPJpw</string>
	<key>GCM_SENDER_ID</key>
	<string>510834595865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainyfairy.hacku</string>
	<key>PROJECT_ID</key>
	<string>rainyfairy2022</string>
	<key>STORAGE_BUCKET</key>
	<string>rainyfairy2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510834595865:ios:3b96665d89a2fa322ff288</string>
</dict>
</plist>